<div class='footer'>

	<img class='avatar' src='/img/images.jpg' />
	<div class='personal'>
		<span class="motto">
			nothing's difficult to a willing heart
		</span>
	</div>

	<ul class='nav'>
		<li class='links'>
			<a href='https://github.com/Anticlimax' target='_blank'>
				<img src='https://raw.githubusercontent.com/slashhuang/pure-node-notebook-step/8215b635cd17ceb9c22deeb6caa8643f4f08b495/public/img/github.jpeg' class='git' /> GitHub
			</a>
		</li>
		<li class='links'>
			<a href='https://www.zhihu.com/people/li-yang-30-70/activities' target='_blank' />
			<img src='https://raw.githubusercontent.com/slashhuang/pure-node-notebook-step/8215b635cd17ceb9c22deeb6caa8643f4f08b495/public/img/zhihu.jpeg' class='zhihu'>知乎
			</a>
		</li>
	</ul>
</div>
</body>